<main>
  <section>
    <label for="serverId">Server ID</label>
    <input (input)="onUpdateServerId($event)" [(ngModel)]="serverId" class="form-control" type="number" id="serverId">
    <section>
      <label for="serverStatus">Is the server online?</label>
      <input type=checkbox id="serverStatus" [(ngModel)]="serverStatus">
    </section>
    <button [disabled]="!allowNewServer" class="btn btn-primary" (click)="onCreateServer()">Add Server</button>
  </section>

  <section *ngIf="servers.length > 0; else noServer">
    <section *ngFor="let server of servers">
      <app-server [serverId]="server.serverId" [serverStatus]="server.serverStatus"></app-server>
    </section>
  </section>
  <ng-template #noServer>
    <p [ngStyle]="{'font-weight': 600, color: 'crimson'}">No server was created.</p>
  </ng-template>
</main>
